.task-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  font-family: 'Roboto';
}
.tab1 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-color: #1a171d;
  width: 40%;
  color: #ffffff;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.tab2 {
  color: #ffffff;
  background-color: #131213;
  width: 70%;
  padding: 10px;
  padding-left: 25px;
  padding-right: 20px;
}
.heading {
  color: #f3aa4e;
}
.label {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 25px;
}
.input-cls {
  margin-top: 5px;
  padding: 10px;
  border-radius: 3px;
  outline: none;
}
.select-cls {
  padding: 10px;
  outline: none;
  margin-top: 6px;
}
.btn-container {
  text-align: center;
}
.add-btn {
  background-color: #f3aa4e;
  padding: 8px;
  border-radius: 3px;
  border: 0;
  width: 100px;
}
.ul-container {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.btn {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  border-radius: 10px;
  color: #ffffff;
  border: solid 1px #f3aa4e;
}
